.networkContainer {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 400px;
    margin: 0 0 20px 0;
    border-radius: 8px;
    border: 1px solid grey;
    color: black;
    gap: 20px;
}